<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCONN RateMyProfessors Viewer</title>
    {% load customtags %}
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='{% static 'rmpApp/home.css' %}?{% now "U" %}'>
</head>

<body>
    <div id="navbar">
        <div id="pageTitle">
            uconn ratemyprofessors viewer
        </div>
        <div id="nav-sections">
            <div id="searchContainer">
                <form id="searchform" action="search" method="post">
                    {% csrf_token %}
                    <input id="searchbar" type="text" name="search"
                        placeholder="search for professors...">
                    <input type="hidden" id='teacherData' name='teacherData'>
                </form>
                <button class="nav-button" id="searchbutton">search</button>
            </div>
        </div>
    </div>
    <article id="mainpage">
        <div id="professorContainer">
            {% for teacher in teacherList %}
                <div class='teacherbox'>
                    <div class='teacherboxrow namerow'>
                        <div class='teacherName'>{{teacherReviewDict|dic:teacher|dic:'professor'|dic:'firstName'}} {{teacherReviewDict|dic:teacher|dic:'professor'|dic:'lastName'}}</div>
                        <div class='removeteacherbutton' id="{{teacher}}"><div>X</div></div>
                    </div>
                    <div class='teacherboxrow'>
                        <div class="ratingBox" style="background-color:{{teacherReviewDict|dic:teacher|dic:'professor'|dic:'avgRating'|ratingcolor}}">
                            <div class="ratingHeader">rating</div>
                            <div class="rating">{{teacherReviewDict|dic:teacher|dic:'professor'|dic:'avgRating'}}</div>
                            <div class="numRatings"># ratings : {{teacherReviewDict|dic:teacher|dic:'professor'|dic:'numRatings'}}</div>
                        </div>
                    </div>
                    <div class='teacherboxrow'>
                        <div class='takeAgain'>would take again : {{teacherReviewDict|dic:teacher|dic:'professor'|dic:'wouldTakeAgainPercent'|na}}</div>

                    </div>
                    <div class='teacherboxrow'>
                        <div class="difficulty">
                            level of difficulty : {{teacherReviewDict|dic:teacher|dic:'professor'|dic:'avgDifficulty'}}
                        </div>
                    </div>
                    <div class='teacherboxrow'>
                        <div class='reviewbutton' id="{{teacher}}">See Reviews</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {%for teacher in teacherList%}
            <div class='reviewcontainer' id="{{teacher}}_reviews">
                <div class='review-name'>{{teacherReviewDict|dic:teacher|dic:'professor'|dic:'firstName'}} {{teacherReviewDict|dic:teacher|dic:'professor'|dic:'lastName'}}</div>

                {%for review in teacherReviewDict|dic:teacher|dic:'reviews'%}
                    <div class='reviewbox'>
                        <div class='comment'>{{review|dic:'comment'}}</div>
                    </div>
                {%endfor%}
            </div>
        {%endfor%}
    </article>
    {{ selectedTeachersJsonList|json_script:"selectedTeachersJsonList"}}
    <script src='{% static 'rmpApp/home.js' %}?{% now "U" %}'></script>
</body>

</html>