<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCONN RateMyProfessors Viewer</title>
</head>

<body>
    {% load customtags %}
    <div id="banner">
        <div id="pagetitle">UCONN Rate My Professor Viewer</div>
    </div>
    <div id="mainpage">
        <div id="searchContainer">
            <form action="search" method="get">
                {% csrf_token %}
                <label for="searchbar">search for professors:</label><input type="text" name="search"
                    placeholder="searching for...">
                <input type="submit" value="Search">
            </form>
        </div>
        <div id="professorContainer">
            {% for professor in l %}
            <div>Hello There</div>
            {% endfor %}
        </div>
        <div id="bottomBanner"></div>
    </div>
</body>

</html>