<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCONN RMP Search Results</title>

    {% load customtags %}
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='{% static 'rmpApp/search.css' %}?{% now "U" %}'>
</head>

<body>
    <div id="navbar">
        <div id="pageTitle">
            uconn ratemyprofessors viewer
        </div>
        <div id="nav-sections">
            <div id="searchContainer">
                <form class="searchform" action="search" method="get">
                    {% csrf_token %}
                    <input id="searchbar" type="text" name="search"
                        placeholder="search for professors...">
                    <input class="nav-button" id="searchbutton" type="submit" value="search">
                </form>
            </div>
            <div id="homebox">
                <form action="home" method="get">
                    <input class="nav-button" type="submit" value="home">
                </form>
            </div>
        </div>
    </div>
    <article id="mainpage">
        <div id='compareSidebar'>
            <div id="compareHeader">
                Teachers to Compare:
            </div>
            <ul id="compareList">
                {% for teacher in selectedTeachers %}
                    <li class="compare-li" id="{{teacher}}_li">
                    <div class="compare-li-name">
                        {{selectedTeachersDict|dic:teacher|dic:firstName}} {{selectedTeachersDict|dic:teacher|dic:lastName}}
                    </div>
                    </li>
                {%endfor%}
            </ul>
        </div>
        <div id='teacherBorderBox'>
        </div>
        <div id="teacherListContainer">
            {% if noResults %}
                <div id="resultText">no results found</div>
            {% else %}
                {%if allResultsShown%}
                    <div id="resultText">all results for {{searchQuery}}</div>
                {%else%}
                    <div id="resultText">first 20 results for {{searchQuery}}</div>
                {%endif%}
                <div id="teacherList">
                    {% for teacher in searchResultsNames %}
                        <div class="teacher">
                            <div class="ratingBox" style="background-color:{{searchResults|dic:teacher|dic:avgRating|ratingcolor}}">
                                <div class="ratingHeader">rating</div>
                                <div class="rating">{{searchResults|dic:teacher|dic:avgRating}}</div>
                                <div class="numRatings"># ratings : {{searchResults|dic:teacher|dic:numRatings}}</div>
                            </div>
                            <div class="infobox">
                                <div class="name_and_department">
                                    <div class="teacherName">
                                        {{searchResults|dic:teacher|dic:firstName|lower}} {{searchResults|dic:teacher|dic:lastName|lower}}
                                    </div>
                                    <div class="department">
                                        {{searchResults|dic:teacher|dic:department|lower}}
                                    </div>
                                </div>
                                <div class="takeAgain">would take again : 
                                    {{searchResults|dic:teacher|dic:wouldTakeAgainPercent|na}}
                                </div>
                                <div class="difficulty">
                                    level of difficulty : {{searchResults|dic:teacher|dic:avgDifficulty}}
                                </div>
                            </div>
                            <div class="addContainer">
                                <button id="{{teacher}}" class="addButton">Add Teacher to Compare List</button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </article>
    <div id='bottomBorder'></div>

    {{ searchResults|json_script:"searchResults"}}
    {{ selectedTeachersJsonList|json_script:"selectedTeachersJsonList"}}
    <script src='{% static 'rmpApp/search.js' %}?{% now "U" %}'></script>

</body>

</html>